@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--dark-whiten);
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5px;
}

h1 {
  vertical-align: middle;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border : 1px solid black;
  border-radius: 3px;
}

#book-list li {
  list-style: none;
  align-content: center;
}
