@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--dark-whiten);
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
}

button {
  border: 2px solid black;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

.awesome-books {
  border: 2px solid black;
}

.book-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 5px;
}

#book-list {
  padding: 0;
}

.book-section #book-list {
  border: 2px solid black;
}

.book-section h1 {
  font-size: 20px;
  align-self: center;
  justify-content: center;
  font-weight: 600;
}

.book-section ul li:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.5);
}

.book-section #book-list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 10px;
}

.book-section #book-list li h2 {
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.book-section #book-list li button {
  box-shadow: 0.17em 0.17em;
  border: 2px solid black;
  padding: 8px;
  align-self: flex-end;
  font-weight: bold;
  margin-bottom: 2px;
  height: 70%;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 3px;
}

